body {
    background-color: rgb(0, 130, 2);

}

h1 {
    font-family: "Source Code Pro", serif;
    color: white;
}

#my-projects {
    color: white;
    size: 40px;
}

#ack-table {
    border: white 2px solid;
}

#about-me {
    color: white;
}
.tg-wrap {
    color: white;
    font-weight: bold;
}